<div class="container">
  <h2>Your Order</h2>

  <form role="form" ng-submit="placeOrder()">
    <div class="row">
      <div>
	  <input for="customer_name" type="text" class="form-control" placeholder="Name" ng-model="name"><br/>
	  <input for="phone" type="text" class="form-control" placeholder="Phone Number" ng-model="phone"><br/>
	  <input for="address" type="text" class="form-control" placeholder="Address" ng-model="address"><br/>
	  <input for="pick_up_time" type="date" class="form-control" placeholder="Pick-up time" ng-model="date"><br/>
	  <span class="input-group-btn">
          <input type="submit" class="btn btn-primary" value="Save Changes">
      </span>
	  </div>
    </div>
  </form>

</div>


<alert ng-repeat="alert in alerts" type="success" close="closeAlert($index)">{{alert.msg}}</alert>
<!-- <div id="async-notification">
  {{asyncNotification}}
</div> -->
